<article class="event">
  <div class="image">
    <span class="icon icon-food"></span>
    <div><date><time><%= order[:day] %></time></date></div>
    <date><time><%= order[:date] %></time></date>
  </div><!-- .image -->

  <div class="info">
    <h3><%= order[:restaurant] %></h3>
    <p>
      Lorem ipsum dolor sit amet.
      <%= link_to order[:url], order[:url], target: '_blank' %>
    </p>
    <a class="button orange medium" href="#">Order now</a>
  </div><!-- .info -->
</article><!-- .event -->
