<section class="events">

  <!-- today -->
  <div class="wrapper white-box">
    <header class="colored green">
      <hgroup>
        <h2>Today</h2>
      </hgroup>
    </header>

    <%= render 'order', order: @order, today: true %>
  </div><!-- .wrapper -->

  <!-- this week -->
  <div class="wrapper white-box">
    <header class="colored yellow">
      <hgroup>
        <h2>This week</h2>
      </hgroup>
    </header>

    <% @roster.each do |order| %>
      <%= render 'order', order: order, today: false %>
    <% end %>

    <article class="try last-box">
      <h3><%= @enjoy %>!</h3>
    </article><!-- .try -->
  </div><!-- .wrapper -->

</section><!-- .events -->
