/*
 *= require_self
 */

body {
  background-color: #ebeae8;
}

body.orders .events .event .image {
  text-align: center;
}

body.orders .events .event .image .icon {
  display: inline-block;
  height: 30px;
  width: 30px;
}

body.orders .events .try h3 {
  text-align: center;
  font-style: italic;
}
